@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Instrument Sans;
}

:root {
  --primary-colour: rgba(117, 57, 255, 1);
  --primary-colour-shade: rgb(236, 227, 255);
  --secondary-white: rgba(255, 255, 255, 1);
  --secondary-green: rgba(39, 174, 96, 1);
  --green-shade: rgba(244, 251, 247, 1);
  --green-shade-outline: rgba(233, 247, 239, 1);
  --secondary-yellow: rgba(226, 185, 59, 1);
  --secondary-red: rgba(239, 30, 30, 1);
  --red-shade: rgba(254, 244, 244, 1);
  --red-shade-outline: rgba(253, 233, 233, 1);
  --text-colour: rgba(5, 19, 33, 1);
  --text-shade-colour: rgba(93, 103, 114, 1);
  --border-colour: rgba(226, 228, 230, 1);
  --nav-shade: rgba(247, 248, 249, 1);
}

body {
  background-color: var(--secondary-white);
}

/* FIRST SIDE NAVIGATION */
main {
  display: flex;
}

.first-side-nav-container {
  display: flex;
  height: 100vh;
  position: fixed;
  left: 0;
}

.first-side-nav-main {
  display: grid;
  background-color: var(--nav-shade);
  border-right: solid 0.031rem var(--border-colour);
  width: fit-content;
  padding: 0.5rem;
}

.add-settings-logout-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
}

.settings-logout-icons {
  display: grid;
  gap: 1.5rem;
  height: fit-content;
}

/* SECOND SIDE NAV */
.direction-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.second-side-nav-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--nav-shade);
  width: 16rem;
  height: 100vh;
  border: solid 0.031rem var(--border-colour);
  overflow: scroll;
}

.logo-icon-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.main-logo {
  padding-inline-start: 1rem;
}

.menu-icon {
  margin-block-end: 0.2rem;
}

.navigation-menu {
  display: grid;
  width: 100%;
}

.navigation-icon-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.navigation-icon-name:hover {
  cursor: pointer;
  background-color: var(--primary-colour-shade);
}

.navigation-icon-name p{
  color: var(--text-colour);
}

.navigation-icon-name-double {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation-icon-name-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 0.5rem;
}

.navigation-icon-name-arrow:hover {
  cursor: pointer;
  background-color: var(--primary-colour-shade);
}

.upgrade-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 0.032rem var(--border-colour);
  border-radius: 0.5rem;
  background-color: var(--secondary-white);
  height: fit-content;
  position: relative;
  padding-block-end: 1.5rem;
}

.send-image-container {
  display: grid;
  justify-content: center;
  padding: 2rem;
  background-color: var(--nav-shade);
  border-radius: 0.5rem 0.5rem 0 0;
}

.text-header-button {
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  text-align: center;
}

.card-header-container {
  display: grid;
  gap: 0.5rem;
}

.header-text {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--text-colour);
}

.body-text {
  color: var(--text-shade-colour);
  font-size: 0.813rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-colour);
  padding: 0.5rem ;
  border-radius: 0.5rem;
  color: var(--secondary-white);
  font-size: 0.75rem;
}

.close-icon {
  display: grid;
  justify-content: end;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* RIGHT SIDE CONTAINER */
.right-side-item-container {
  padding-inline-start: 23.1rem;
  width: 100%;
}

.home-bread-crumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-colour);
}

.home-breadcrumb {
  color: var(--text-shade-colour);
}

.right-side-item-container {
  display: grid;
  gap: 1.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-white);
  border-bottom: solid 0.031rem var(--border-colour);
}

.search-notificaton {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-container {
  display: flex;
  stroke-linecap: var(--primary-colour-shade);
}

.search-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
}

input {
  border: solid 0;
  background-color: transparent;
}

input::placeholder {
  color: var(--text-shade-colour);
}

.notif-switch-icon-container {
  display: flex;
  gap: 1rem;
}

.name-calendar-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-inline: 1.5rem;
}

.page-name {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-colour);
}

.filter-date-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: var(--text-colour);
  padding: 0.8rem;
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
  background-color: var(--secondary-white);
}

.card-analytics-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-inline: 1.5rem;
}

.container-stats {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--secondary-white);
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0.5rem 1rem var(--nav-shade);
}

.number-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.total-invoice-icon-purple {
  background-color: var(--primary-colour);
  padding: 0.7rem 0.8rem;
  border-radius: 2rem ;
}

.total-invoice-icon-green {
  background-color: var(--secondary-green);
  padding: 0.6rem 0.8rem;
  border-radius: 2rem ;
}

.total-invoice-icon-yellow {
  background-color: var(--secondary-yellow);
  padding: 0.6rem 0.8rem;
  border-radius: 2rem ;
}

.total-invoice-icon-red {
  background-color: var(--secondary-red);
  padding: 0.6rem 0.8rem;
  border-radius: 2rem ;
}

.total-invoice-icon img {
  margin-block-start: 0.2rem;
}

.number-container {
  display: grid;
  gap: 0.5rem;
}

.number-container p:first-child {
  color: var(--text-shade-colour);
  font-size: 0.875rem;
}

.number-container p:last-child {
  color: var(--text-colour);
  font-weight: bold;
}

.price-trajectory-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.price-percentage {
  color: var(--secondary-green);
}

.month-indicator {
  color: var(--text-shade-colour);
}

.card-pattern {
  position: absolute;
  bottom: -0.3rem;
  left: -0.031rem;
}

/* SECOND SECTION CARD CONTAINER */
.second-section-card-container {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 1rem;
  margin-inline: 1.5rem;
}

.invoice-details-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
  background-color: var(--secondary-white);
  width: 100%;
}

.invoice-header {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--text-colour);
}

.due-date-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(rgba(57, 57, 57, 1), rgba(0, 0, 0, 1));
}

.due-date-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.due-date-container-header {
  font-weight: bold;
  color: var(--secondary-white);
}

.due-date-tag {
  padding: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-red);
  border-radius: 0.3rem;
  font-weight: 100;
  font-size: 0.75rem;
}

.date-information-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.issued-details {
  display: grid;
  gap: 0.5rem;
}

.issued-details p:first-child {
  color: rgba(247, 248, 249, 1);
  font-size: 0.75rem;
}

.issued-details p:last-child {
  color: var(--secondary-white);
  font-weight: 600;
}

.invoice-amount-container {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--nav-shade);
  border-radius: 0.5rem;
}

.invoice-amount-main {
  display: grid;
  gap: 1rem;
}

.invoice-amount-details {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--text-colour);
}

.minus-payment {
  color: var(--secondary-red);
}

hr {
  border: solid 0.031rem var(--border-colour);
  height: fit-content;
}

.total-amount-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-colour);
}

.invoice-payment-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-colour);
  border-radius: 0.3rem;
  width: 100%;
  color: var(--secondary-white);
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(38, 38, 38, 1);
  border-radius: 0.3rem;
  width: 100%;
  color: var(--secondary-white);
}

/* RECENT ACTIVITES CONTAINER */
.recent-activities-container {
  display: grid;
  padding: 1rem;
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
  width: 100%;
}

.recent-activities-container {
  display: grid;
  gap: 1rem;
}

.recent-header {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--text-colour);
}

.recent-activites-information {
  display: grid;
  gap: 1rem;
}

.recent-activities-radio-check {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status-identifies {
  display: grid;
  gap: 0.2rem;
}

.activities-calendar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.activities-calendar-container p{
  font-size: 0.75rem;
  color: var(--text-shade-colour);
}

.status-identifies {
  color: var(--text-shade-colour);
}

.bold-status-identifier {
  font-weight: bold;
  color: var(--text-colour);
}

.view-all-trigger {
  display: grid;
  justify-content: center;
  color: var(--text-colour);
}

/* RECENT TRANSACTION */
.recent-transaction-container {
  display: grid;
  gap: 1rem;
  border: solid 0.031rem var(--border-colour);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.recent-transactions-header {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--text-colour);
}

.payment-invoice-container {
  display: grid;
  gap: 1rem;
}

.micro-recent-header {
  font-weight: 500;
  color: var(--text-colour);
}

.payment-logo-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.payment-gateway {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.payment-gateway-logo {
  padding: 0.7rem 0.8rem;
  background-color: var(--nav-shade);
  border: solid 0.031rem var(--border-colour);
  border-radius: 2rem;
}

.payment-gateway-text {
  display: grid;
  gap: 0.5rem;
}

.payment-gateway-text p:first-child {
  font-weight: bold;
  color: var(--text-colour);
}

.payment-gateway-text p:last-child {
  color: var(--text-shade-colour);
}

.payment-gateway-amount-green {
  padding: 0.5rem 1.5rem;
  background-color: var(--green-shade);
  border: solid 0.031rem var(--green-shade-outline);
  border-radius: 0.5rem;
  color: var(--secondary-green);
}

.payment-gateway-amount-red {
  padding: 0.5rem 1.5rem;
  background-color: var(--red-shade);
  border: solid 0.031rem var(--red-shade-outline);
  border-radius: 0.5rem;
  color: var(--secondary-red);
}

/* TABLE SECTION */
.invoice-table-container {
  display: grid;
  gap: 1rem;
  background-color: var(--secondary-white);
  border: solid 0.031rem var(--border-colour);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-inline: 1.5rem;
}

.invoice-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice-table-header p:first-child {
  font-weight: bold;
  color: var(--text-colour);
  font-size: 1.125rem;
}

.invoice-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-colour);
  font-size: 0.75rem;
  border-radius: 0.5rem;
  color: var(--secondary-white);
}

.table-details-image {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-details-image img {
  max-width: 1.5rem;
  width: 100%;
}

.invoice-table-main {
  display: flex;
  align-items: start;
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
}

.table-section-main {
  display: grid;
  /* gap: 0.5rem; */
  width: 100%;
}

.table-header-image {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--nav-shade);
  color: var(--text-colour);
  font-weight: 500;
  padding: 0.563rem 1rem;
  font-size: 0.75rem;
  border-bottom: solid 0.031rem var(--border-colour);
  overflow: hidden;
  border-top-right-radius: 0.5rem;
}

.table-header {
  background-color: var(--nav-shade);
  color: var(--text-colour);
  font-weight: 500;
  padding: 0.563rem 1rem;
  font-size: 0.75rem;
  border-bottom: solid 0.031rem var(--border-colour);
  border-top-left-radius: 0.5rem;
}

.table-details-grey {
  background-color: var(--secondary-white);
  padding: 0.8rem 1rem;
  font-size: 0.875rem;
  color: var(--text-shade-colour);
  border-bottom: solid 0.031rem var(--border-colour);
}

.table-details-dark {
  background-color: var(--secondary-white);
  padding: 0.8rem 1rem;
  font-size: 0.875rem;
  color: var(--text-colour);
  border-bottom: solid 0.031rem var(--border-colour)
}

.table-details-image {
  background-color: var(--secondary-white);
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
  color: var(--text-colour);
  border-bottom: solid 0.031rem var(--border-colour)
}