@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  /* COLOUR VARIABLE */
  --text-black-colour:rgb(27 25 23);
  --text-black-shade:rgb(108 108 108);
  --orange-colour:rgb(255 117 38);
  --background-white-colour: rgb(255, 255, 255);
  --background-grey-colour:rgb(250 250 250);
  --border-colour:rgb(237 237 237);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

/* NAV CONTAINER */
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-inline: 5rem;
}

.more-icon-container-top {
  display: none;
}

.more-icon-container-top svg {
  width: 1.5rem;
  margin-block-start: 0.2rem;
}

.more-icon-container-bottom {
  display: none;
}

.more-icon-container-bottom svg {
  width: 1.5rem;
  margin-block-start: 0.2rem;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--text-black-colour);
}

.home-nav-container {
  color: var(--orange-colour);
}

.page-nav-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-nav-container:hover,
.package-nav-container:hover,
.destination-nav-container:hover {
  cursor: pointer;
  color: var(--orange-colour);
  transition: 0.5s;
}

.arrow-cown-container {
  margin-block-start: 0.3rem;
}

.more-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-logo-container img {
  max-width: 6.25rem;
  width: 100%;
}

.right-container {
  display: flex;
  gap: 1rem;
}

.header-button-container {
  display: grid;
}

.right-container {
  display: flex;
  align-items: center;
}

.blog-button {
  padding: 1rem 2rem;
  background-color: var(--background-white-colour);
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
  color: var(--text-black-colour);
  font-weight: bold;
}

.blog-button:hover {
  cursor: pointer;
  background-color: var(--orange-colour);
  color: var(--background-white-colour);
  transition: 0.5s;
}

.contact-button {
  padding: 1rem 2rem;
  background-color: var(--orange-colour);
  border: none;
  border-radius: 0.5rem;
  color: var(--background-white-colour);
  font-weight: bold;
}

.contact-button:hover {
  cursor: pointer;
  background-color: rgb(250, 147, 87);
  transition: 0.5s;
}

/* MAIN BODY SECTION */
/* MAIN */
/* HEADER SECTION */
.header-section {
  display: grid;
  justify-items: center;
  padding-inline: 1rem;
}

.header-section-main {
  justify-items: center;
  align-content: center;
  background-image: url(https://res.cloudinary.com/dgx8jcnmq/image/upload/v1760309494/travel-agency-assets/file-20241203-17-7g1a0h_ol2qfv.avif);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.header-image-container img {
  max-width: 100rem;
  width: 100%;
  height: 100vh;
  object-fit:cover;
  border-radius: 2rem;
}

.header-text-section {
  display: grid;
  top: 10rem;
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 1rem;
  gap: 2rem;
}

.header-text-final-container {
  display: grid;
  justify-content: end;
}

.main-header-text {
  display: grid;
  justify-content: end;
  gap: 1.5rem;
  max-width: 40rem;
}

.main-header-text h1 {
  font-weight: bold;
  font-size: clamp(2rem, 8vw, 6.875rem);
  color: var(--background-white-colour);
}

.main-header-text p {
  font-size: clamp(1.124rem, 2vw, 1.125rem);
  color: var(--background-white-colour);
}

.bottom-header-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.image-member-play-container {
  position: relative;
}

.member-play-image-container img {
  max-width: 11rem;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.play-icon svg {
  width: 2rem;
  position: absolute;
  top: 4.5rem;
  right: 3.3rem;
  color: white;
}

.members-main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--background-white-colour);
  border-radius: 2rem;
  max-width: 25rem;
  width: 100%;
  order: 1;
  position: relative;
  bottom: 7rem;
}

.membership-container {
  display: grid;
  justify-content: center;
  height: 14.3rem;
}

.image-back-main {
  justify-items: center;
  /* position: absolute; */
}

.image-back-container {
  max-width: 23rem;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.345);
  border-radius: 2rem;
}

.members-image-container {
  display: grid;
  gap: 1rem;
}

.members-image-main {
  display: flex;
  gap: -10rem;
  align-items: center;
}

.members-avatar {
  width: 2.5rem;
}

.members-avatar-name p {
  color: var(--text-black-colour);
}

.members-avatar img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
  border: solid 0.031rem var(--border-colour);
}

.add-icon-container svg {
  max-width: 2rem;
  width: 100%;
}

.add-icon-container {
  border-color: var(--border-colour);
  border-radius: 100%;
}

.get-started-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--background-white-colour);
}

.mouse-icon {
  margin-block-start: 0.2rem;
}

/* FIND LUXURY APARTMENT SECTION */
.luxury-location-section {
  justify-items: center;
}

.lurury-second-section {
  max-width: 85rem;
  width: 100%;
}

.luxury-header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.luxury-location-main {
  display: grid;
  gap: 3.5rem;
  margin-block: 5rem;
  padding-inline: 1rem;
}

.luxury-header p {
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: var(--text-black-colour);
}

.location-list-main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1.5rem;
}

.location-list-container {
  display: grid;
  gap: 1rem;
  border: solid 0.031rem var(--border-colour);
  border-radius: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.image-location-container {
  position: relative;
}

.location-image-main img {
  max-width: 25.5rem;
  width: 100%;
  height: 16.313rem;
  object-fit: cover;
  border-radius: 1rem;
}

.location-flag-container img {
  max-width: 1.5rem;
  width: 100%;
  height: 1.5rem;
  object-fit: fill;
  border-radius: 30rem;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--background-white-colour);
  border: solid 0.031rem var(--border-colour);
  width: fit-content;
  border-radius: 0.8rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.country-name {
  color: var(--text-black-shade);
  font-size: 0.875rem;
}

.text-header-body {
  display: grid;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.luxury-text-header {
  font-weight: bold;
  font-size: 1.688rem;
  color: var(--text-black-colour);
}

.luxury-text-body {
  color: var(--text-black-shade);
  font-size: 0.875rem;
}

.rating-date-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rating-list-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-container svg {
  max-width: 1.2rem;
  width: 100%;
  margin-block-start: 0.2rem;
}

.divider-section {
  width: 0.1rem;
  height: 1rem;
  background-color: var(--border-colour);
}

.ratings-text p {
  color: var(--text-black-shade);
  font-size: 0.875rem;
}

hr {
  border: solid 0.031rem var(--border-colour);
}

.pricing-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing-container {
  display: grid;
  gap: 0.5rem;
}

.pricing-amount {
  font-weight: bold;
  color: var(--text-black-colour);
}

.pricing-duration {
  color: var(--text-black-shade);
}

/* ADVENTURE SECTION */
.adventure-background {
  background-color: var(--background-grey-colour);
}

.adventure-width-container {
  justify-items: center;
}

.adventure-section {
  display: grid;
  gap: 3rem;
  max-width: 85rem;
  width: 100%;
  padding-block: 7.5rem;
  padding-inline: 1rem;
}

.adventure-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adventure-header {
  color: var(--text-black-colour);
  font-weight: bold;
  font-size: clamp(2rem, 4vw, 3.5rem);
  max-width: 30rem;
}

.adventure-body {
  color: var(--text-black-shade);
  font-size: 1.125rem;
  max-width: 19rem;
  width: 100%;
}

.icon-number {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.main-icon-container {
  padding: 1.3rem 1.5rem;
  background-color: var(--background-grey-colour);
  border-radius: 2.5rem;
  border: solid 0.031rem var(--border-colour);
}

.main-icon svg {
  color: var(--orange-colour);
  margin-block-start: 0.2rem;
  width: 1.5rem;
}

.explore-block-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.explore-content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore-block-main {
  display: grid;
  gap: 2rem;
  padding: 1.25rem;
  background-color: var(--background-white-colour);
  border: solid 0.031rem var(--border-colour);
  border-radius: 1.5rem;
  max-width: fit-content;
  width: 100%;
}

.icon-number {
  color: var(--text-black-colour);
  font-size: 1.125rem;
}

.explore-main-header {
  display: grid;
  gap: 1rem;
}

.explore-main-header-copy {
  color: var(--text-black-colour);
  font-weight: 600;
  font-size: 1.5rem;
}

.explore-main-body-copy {
  color: var(--text-black-shade);
}

.paradise-island img {
  max-width: 100%;
  width: 100%;
  height: 31.5rem;
  object-fit: cover;
  border-radius: 2rem;
}

/* FIND DESTINATION SECTION */
.find-destination-container {
  background-image: url(https://res.cloudinary.com/dgx8jcnmq/image/upload/v1760634123/travel-agency-assets/highland-image_ynelbh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.find-destination-container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.destination-container {
  max-width: 85rem;
  width: 100%;
}

.destination-main {
  display: grid;
  gap: 13rem;
  padding-inline: 1rem;
  padding-block: 2rem;
}

.header-container-main {
  justify-items: center;
}

.header-container {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  max-width: 50rem;
}

.header-container p {
  font-size: clamp(2.375rem, 6vw, 4rem);
  font-weight: bold;
  color: var(--background-white-colour);
}

.carousel-image-slide {
  display: grid;
  gap: 1.5rem;
}

.carousel-image-slide-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.carousel-image-container img {
  max-width: 25.416rem;
  width: 100%;
  border-radius: 2rem;
  border: solid 0.031rem var(--border-colour);
}

.circle-indicator {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.circle-indicator-dark {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--text-black-colour);
  border-radius: 100%;
}

.circle-indicator-light {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(27, 25, 23, 0.333);
  border-radius: 100%;
}

/* NEXT DESTINATION SECTION */
.next-destination-container {
  justify-items: center;
  margin-block: 5rem;
}

.next-destination-main {
  display: grid;
  gap: 5rem;
  max-width: 85rem;
  width: 100%;
  padding-inline: 1rem;
}

.destination-main-header-container {
  display: grid;
  justify-content: center;
}

.destination-main-header {
  max-width: 50rem;
  width: 100%;
}

.destination-main-header p {
  font-weight: bold;
  font-size: clamp(2rem, 4vw, 3.5rem);
  text-align: center;
  color: var(--text-black-colour);
}

.destination-bottom-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.next-destination-left {
  background-image: url(https://res.cloudinary.com/dgx8jcnmq/image/upload/v1760309494/travel-agency-assets/im11_zij4b5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 35.25rem;
  width: 100%;
  height: 61rem;
  border-radius: 2rem;
  align-content: center;
}

.next-destination-location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.next-text-header {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-black-colour);
}

.header-button-container {
  display: grid;
  align-items: center;
  gap: 30rem;
  padding: 2rem 2rem;
}

.next-header-main {
  font-size: clamp(1.5rem, 4vw, 2.75rem);
  font-weight: bold;
  color: var(--background-white-colour);
}

/* FAQ SECTION */
.faq-section {
  justify-items: center;
  padding-block: 5rem;
}

.faq-main {
  display: grid;
  max-width: 85rem;
  width: 100%;
  padding-inline: 1rem;
  gap: 4rem;
}

.faq-head-body {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.faq-header-main {
  color: var(--text-black-colour);
  font-weight: bold;
  font-size: clamp(2rem, 4vw, 3.5rem);
}

.faq-body-main {
  color: var(--text-black-shade);
  font-size: 1.125rem;
}

.faq-details-section-main {
  border-top: solid 0.031rem var(--border-colour);
  border-bottom: solid 0.031rem var(--border-colour);
}

.faq-details-main p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-black-colour);
}

.faq-details-body p {
  color: var(--text-black-shade);
  line-height: 1.5rem;
}

.faq-details-section-main {
  display: grid;
  gap: 1rem;
  padding-block: 2rem;
}

.faq-details-main-less {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
  border-bottom: solid 0.031rem var(--border-colour);
}

.faq-details-main-less p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-black-colour);
}

.faq-details-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visibility-icon svg {
  width: 1.5rem;
  margin-block-start: 0.2rem;
  color: var(--text-black-colour);
}

/* BLOG SECTION */
.blog-section {
  justify-items: center;
}

.blog-main {
  display: grid;
  gap: 2rem;
  max-width: 85rem;
  width: 100%;
  padding-block: 5rem;
  padding-inline: 1rem;
}

.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.blog-information-content-container {
  display: grid;
  gap: 0.5rem;
}

.blog-information-header {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: bold;
  color: var(--text-black-colour);
}

.blog-information-body {
  color: var(--text-black-shade);
}

.date-type-of-blog {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.calendar-icon-date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blog-icon svg {
  width: 1.5rem;
  margin-block-start: 0.2rem;
  color: var(--orange-colour);
}

.blog-date p {
  color: var(--text-black-colour);
}

.blog-trigger-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.blog-trigger-card {
  display: grid;
  gap: 1.5rem;
  background-color: var(--background-white-colour);
  border: solid 0.031rem var(--border-colour);
  border-radius: 2rem;
  padding-block-end: 2rem;
}

.blog-image-container img {
  width: 100%;
  height: 25.333rem;
  border-radius: 2rem;
  object-fit: cover;
}

.blog-main-text-content,
.blog-content-section {
  display: grid;
  gap: 0.5rem;
}

.blog-content-section {
  padding-inline: 1rem;
}

.blog-main-header {
  color: var(--text-black-colour);
  font-size: 1.25rem;
  font-weight: 500;
}

.blog-main-body {
  color: var(--text-black-shade);
}

/* FOOTER */
footer {
  margin-block-start: 5rem;
}

.footer-main-section {
  background-image: url(https://res.cloudinary.com/dgx8jcnmq/image/upload/v1760699043/travel-agency-assets/footer-image_pummur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  justify-items: center;
  padding-inline: 1rem;
}

.footer-content {
  display: grid;
  gap: 2rem;
  padding-block-end: 1rem;
}

.footer-bold-content {
  font-weight: 900;
  font-size: clamp(2rem, 25vw, 22rem);
  color: rgba(255, 255, 255, 0.562);
}

.main-footer {
  display: grid;
  gap: 4rem;
  background-color: var(--text-black-colour);
  padding: 2.5rem;
  border-radius: 2rem;
}

.main-footer-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.footer-trigger {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.footer-trigger-main {
  display: grid;
  gap: 1.5rem;
}

.footer-trigger-header p,
.social-follow p {
  color: var(--text-black-shade);
}

.trigger-content-body {
  color: var(--background-white-colour);
}

.trigger-content-body {
  display: grid;
  gap: 1rem;
}

.trigger-content-body p:hover {
  cursor: pointer;
  transition: 0.5s;
  color: var(--orange-colour);
}

.social-follow-container {
  display: grid;
  gap: 1.5rem;
  text-align: end;
}

.social-media-icon-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icons-circle {
  padding: 0.5rem 0.7rem;
  border: solid 0.051rem var(--background-white-colour);
  border-radius: 100%;
}

.social-icons svg {
  width: 1.5rem;
  margin-block-start: 0.2rem;
  color: var(--background-white-colour);
}

.footer-section-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer-botom-section,
.privacy-trigger,
.terms-trigger {
  color: var(--background-white-colour);
}

.privacy-trigger:hover,
.terms-trigger:hover {
  cursor: pointer;
  color: var(--orange-colour);
  transition: 0.5s;
}

.privacy-conditions-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horizontal-divider {
  width: 0.1rem;
  height: 1rem;
  background-color: var(--text-black-shade);
}


/* MEDIA QUARIES */
@media (max-width:1021px) {
  .navigation-container {
    margin-inline: 0;
  }

  .more-icon-container-top {
    display: block;
  }

  .left-nav {
    display: none;
  }

  .location-list-main {
    flex-direction: column;
  }

  .location-image-main img {
    max-width: 100%;
    width: 100%;
    height: 16.313rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  .explore-content-section {
    flex-direction: column;
  }

  .explore-block-main {
    max-width: none;
  }

  .paradise-island img {
    max-width: none;
  }

  .destination-bottom-section {
    flex-direction: column;
  }

  .next-destination-left {
    order: 1;
    max-width: none;
    height: auto;
  }

  .next-destination-location {
    width: 100%;
  }

  .header-button-container {
    gap: 10rem;
  }

  .blog-trigger-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .blog-trigger-container {
    flex-direction: column;
  }

  .find-destination-container {
    height: fit-content;
  }

  footer {
    margin-block-start: 3rem;
  }
}

@media (max-width:840px) {
  .header-text-section {
    text-align: center;
  }

  .bottom-header-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .explore-block-content {
    grid-template-columns: none;
  }

  .next-destination-location {
    grid-template-columns: 1fr;
  }

  .main-footer-section {
    flex-wrap: wrap;
  }

  .footer-trigger {
    flex-wrap: wrap;
  }

  .footer-section-bottom {
    flex-wrap: wrap;
    text-align: center;
  }

  .social-follow-container {
    text-align: start;
  }

  .destination-main {
    display: grid;
    gap: 8rem;
    padding-inline: 1rem;
  }

  .adventure-text-container {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .adventure-body {
    max-width: 100%;
  }

  .luxury-location-main {
    gap: 2rem;
    margin-block: 3rem;
  }

  .adventure-section {
    padding-block: 3rem;
    gap: 2rem;
  }

  .next-destination-main {
    gap: 2rem;
  }

  .faq-section {
    padding-block: 3rem;
  }

  .faq-main {
    gap: 2rem;
  }

  .blog-main {
    padding-block: 3rem;
  }

  .main-footer {
    gap: 2rem;
    padding: 2.5rem;
  }
}

@media (max-width:560px) {
  .right-container {
    display: none;
  }

  .more-icon-container-bottom {
    display: block;
  }

  .more-icon-container-top {
    display: none;
  }

  .blog-header {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .luxury-header-main {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}