@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  /* COLOUR VARIABLE */
  --text-black-colour:rgb(27 25 23);
  --text-black-shade:rgb(108 108 108);
  --orange-colour:rgb(255 117 38);
  --background-white-colour: rgb(255, 255, 255);
  --background-grey-colour:rgb(250 250 250);
  --border-colour:rgb(237 237 237);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

/* NAV CONTAINER */
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-inline: 5rem;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--text-black-colour);
}

.home-nav-container {
  color: var(--orange-colour);
}

.page-nav-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arrow-cown-container {
  margin-block-start: 0.3rem;
}

.nav-logo-container img {
  max-width: 6.25rem;
  width: 100%;
}

.right-container {
  display: flex;
  gap: 1rem;
}

.blog-button {
  padding: 1rem 2rem;
  background-color: var(--background-white-colour);
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.5rem;
  color: var(--text-black-colour);
}

.contact-button {
  padding: 1rem 2rem;
  background-color: var(--orange-colour);
  border: none;
  border-radius: 0.5rem;
  color: var(--background-white-colour);
}

/* MAIN BODY SECTION */
/* MAIN */
main {
  /* display: grid;
  justify-content: center; */
}

/* HEADER SECTION */
.header-section {
  display: grid;
  justify-items: center;
  padding-inline: 1rem;
}

.header-section-main {
  display: grid;
  justify-items: center;
  /* max-width: 75rem;
  width: 100%; */
}

.header-image-main {
  position: relative;
}

.header-image-container img {
  max-width: 100rem;
  width: 100%;
  height: 100vh;
  object-fit:cover;
  border-radius: 2rem;
}

.header-text-section {
  display: grid;
  position: absolute;
  top: 10rem;
  max-width: 80rem;
  width: 100%;
  padding-inline: 2rem;
  gap: 3rem;
}

.header-text-final-container {
  display: grid;
  justify-content: end;
}

.main-header-text {
  display: grid;
  justify-content: end;
  gap: 1.5rem;
  max-width: 40rem;
}

.main-header-text h1 {
  font-weight: bold;
  font-size: clamp(2rem, 8vw, 6.875rem);
  color: var(--background-white-colour);
}

.main-header-text p {
  font-size: clamp(1.124rem, 2vw, 1.125rem);
  color: var(--background-white-colour);
}

.bottom-header-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.image-member-play-container {
  position: relative;
}

.member-play-image-container img {
  max-width: 11rem;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.play-icon svg {
  width: 2rem;
  position: absolute;
  top: 4.5rem;
  right: 3.3rem;
  color: white;
}

.members-main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--background-white-colour);
  border-radius: 2rem;
  max-width: 25rem;
  width: 100%;
  order: 1;
  position: relative;
  bottom: 7rem;
}

.membership-container {
  display: grid;
  justify-content: center;
  height: 14.3rem;
}

.image-back-main {
  justify-items: center;
  /* position: absolute; */
}

.image-back-container {
  max-width: 23rem;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.345);
  border-radius: 2rem;
}

.members-image-container {
  display: grid;
  gap: 1rem;
}

.members-image-main {
  display: flex;
  gap: -10rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  align-items: center;
}

.members-avatar {
  width: 2.5rem;
}

.members-avatar-name p {
  color: var(--text-black-colour);
}

.members-avatar img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
  border: solid 0.031rem var(--border-colour);
}

.add-icon-container svg {
  max-width: 2rem;
  width: 100%;
}

.add-icon-container {
  border-color: var(--border-colour);
  border-radius: 100%;
}

.get-started-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--background-white-colour);
}

.mouse-icon {
  margin-block-start: 0.2rem;
}