@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Syne, Serif;
}

:root {
  --primary-green: rgba(13, 120, 101, 1);
  --green-shade: rgba(235, 249, 247, 1);
  --text-black: rgba(13, 15, 20, 1);
  --text-shade: rgba(153, 156, 162, 1);
  --text-shade-two: rgba(100, 103, 110, 1);
  --background-colour: rgba(246, 253, 252, 1);
  --white-colour: rgba(255, 255, 255, 1);
  --border-colour: rgba(231, 239, 238, 1);
  --border-light-green: rgba(198, 247, 238, 1);
  --border-dark-green: rgba(31, 190, 162, 1);
  --secondary-blue: rgba(13, 86, 120, 1);
  --blue-shade: rgba(222, 240, 248, 1);
  --blue-shade-one: rgba(126, 202, 236, 1);
  --blue-shade-border: rgba(173, 221, 243, 1);
  --blue-shade-border-one: rgba(73, 160, 200, 1);
  --orange-shade: rgba(249, 240, 237, 1);
  --orange-shade-one: rgba(246, 196, 181, 1);
  --yellow-shade: rgba(250, 247, 239, 1);
  --yellow-shade-one: rgba(248, 236, 205, 1);
}

body {
  background-color: var(--background-colour);
}

/* NAVIGATION SECTION */
.navigation-container {
  display: grid;
  /* gap: 0.5rem; */
}

.logo-container {
  padding-block: 0.6rem;
  padding-inline-start: 1.875rem;
  padding-inline-end: 6rem;
  /* padding: 0.6rem 1.875rem; */
}

.side-bar-main {
  height: 100vh;
  background-color: var(--white-colour);
  width: fit-content;
  position: fixed;
  border-right: solid 0.031rem var(--border-colour);
}

.side-bar-details-container {
  display: grid;
  gap: 1.875rem;
}

.navigation-trigger:first-child {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-block: 1rem;
  padding-inline-start: 1.875rem;
  padding-inline-end: 6rem;
  background-color: var(--green-shade);
  color: var(--primary-green);
}

.navigation-trigger {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-block: 1rem;
  padding-inline-start: 1.875rem;
  padding-inline-end: 6rem;
  color: var(--text-shade);
}

/* HEADER SECTION NAV */
.left-side-container {
  margin-inline-start: 15.69rem;
}

.header-section-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.938rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 3.125rem;
  background-color: var(--white-colour);
  border-bottom: solid 0.031rem var(--border-colour);
}

.amount-top-up-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--green-shade);
  border: solid 0.031rem var(--border-light-green);
  border-radius: 0.625rem;
}

.amount {
  font-weight: 800;
  color: var(--primary-green);
}

.top-up-trigger {
  color: var(--primary-green);
}

.profile-notification-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.notification-bell-icon {
  padding: 0.5rem 0.7rem;
  background-color: var(--white-colour);
  border-radius: 0.625rem;
  border: solid 0.031rem var(--border-colour);
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-image-container img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 0.625rem;
  border: solid 0.031rem var(--border-colour);
}

/* DOCTOR DETAILS SECTION */
.service-details-container {
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
}

.service-details-first-section {
  display: grid;
  gap: 1.5rem;
  padding-inline: 1.25rem;
  /* padding: 1.5rem 1.25rem; */
}

.services-text {
  color: var(--text-shade);
  font-size: 0.75rem;
}

.doctor-image-main {
  display: grid;
  gap: 1rem;
  padding: 1.25rem;
}

.doctor-appointment-container {
  background-color: var(--white-colour);
  border: solid 0.031rem var(--border-colour);
  border-radius: 0.938rem;
  width: 100%;
  height: 100%;
}

.service-details-flex {
  display: flex;
  align-items: start;
  gap: 0.625rem;
  /* height: max-content; */
}

.doctor-image-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.doctor-image-container img {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 0.031rem var(--border-colour);
  object-fit: cover;
  border-radius: 0.625rem;
}

.doctors-name-container {
  display: grid;
  gap: 0.1rem;
}

.doctors-name {
  font-weight: bold;
  font-size: 600;
  color: var(--text-black);
}

.doctors-body {
  color: var(--text-shade);
  font-size: 0.75rem;
}

.horizontal-line {
  height: none;
}

hr {
  border: solid 0.031rem var(--border-colour);
}

.appointment-date {
  display: grid;
  gap: 1rem;
  /* gap: 0.938rem 0.625rem; */
}

.second-header {
  color: var(--text-shade);
}

.test-details-date-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.625rem;
  background-color: var(--green-shade);
  border: solid 0.031rem var(--border-light-green);
  border-radius: 0.625rem;
}

.test-details-date {
  color: var(--text-black);
}

.vertical-line {
  width: 0.031rem;
  height: 0.9rem;
  background-color: var(--border-light-green);
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-container {
  padding: 0.5rem 0.7rem;
  height: fit-content;
  background-color: var(--primary-green);
  border-radius: 2.563rem;
  border: solid 0.031rem var(--border-dark-green);
  width: fit-content;
}

.icon-container img { 
  margin-block-start: 0.2rem;
}

.doctor-details-header-container {
  display: grid;
  gap: 0.1rem;
}

.doctors-detail-header {
  font-weight: 600;
  color: var(--text-black);
}

.doctor-details-price {
  font-weight: 600;
  color: var(--secondary-blue);
}

.delivery-main {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.second-delivery-main {
  display: grid;
  gap: 0.5rem;
}

.appointment-date {
  display: grid;
}

.delivery-main-container {
  display: grid;
  gap: 1rem;
}

.delivery-container {
  display: grid;
  gap: 0.5rem;
}

.delivery-tag {
  font-size: 0.625rem;
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 10rem;
  background-color: var(--blue-shade);
  color: var(--secondary-blue);
  width: fit-content;
}

.view-order-button {
  color: var(--secondary-blue);
}

.doctor-details-body {
  color: var(--text-shade);
}

.testing-center {
  color: var(--secondary-blue);
}

.icon-text-container-top {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.doctor-details-header-container {
  display: grid;
  gap: 0.5rem;
}

.hospital-header {
  font-weight: 600;
  color: var(--text-black);
}

.hospital-body {
  color: var(--text-shade-two);
}

.view-hospital-button {
  text-align: end;
  color: var(--secondary-blue);
}

/* QUICK TEST */
.quick-test-container {
  padding-inline: 1.5rem;
}

.quick-test-main {
  display: grid;
  gap: 1rem;
  padding: 2.5rem;
  background-color: var(--white-colour);
  border: solid 0.031rem var(--border-colour);
  border-radius: 1rem;
}

.header-text-direction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-all {
  color: var(--secondary-blue);
}

.quick-test-triggers {
  display: flex;
  gap: 1rem;
}

.general-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--orange-shade);
  border: solid 0.031rem var(--orange-shade-one);
  border-radius: 0.938rem;
}

.quick-test-text {
  color: var(--text-black);
  font-size: 0.625rem;
}

.xray-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--green-shade);
  border: solid 0.031rem var(--border-light-green);
  border-radius: 0.938rem;
}

.blood-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--blue-shade);
  border: solid 0.031rem var(--blue-shade-border);
  border-radius: 0.938rem;
}

.blood-count-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--yellow-shade);
  border: solid 0.031rem var(--yellow-shade-one);
  border-radius: 0.938rem;
}

.malaria-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--green-shade);
  border: solid 0.031rem var(--border-light-green);
  border-radius: 0.938rem;
}

.genetic-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--blue-shade);
  border: solid 0.031rem var(--blue-shade-border);
  border-radius: 0.938rem;
}

.prenatal-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--orange-shade);
  border: solid 0.031rem var(--orange-shade-one);
  border-radius: 0.938rem;
}

.urinalysis-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--yellow-shade);
  border: solid 0.031rem var(--yellow-shade-one);
  border-radius: 0.938rem;
}

.thyroid-test-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1.875rem 0.938rem;
  background-color: var(--green-shade);
  border: solid 0.031rem var(--border-light-green);
  border-radius: 0.938rem;
}

/* INFORMATION SECTION */
.information-section {
  display: flex;
  gap: 1.25rem;
  padding-inline: 1.5rem;
}

.nutrition-section {
  padding: 4.75rem 1.25rem;
  border-radius: 1rem;
  background-color: var(--blue-shade);
  border: solid 0.031rem var(--blue-shade-border);
  width: 100%;
}

.nutrition-details {
  display: grid;
  gap: 1.5rem;
}

.nutrition-header-container {
  display: grid;
  gap: 0.625rem;
}

.nutrition-header {
  color: var(--text-shade);
}

.nutrition-iocon-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nutrition-iocon-name img {
  padding: 0.7rem 0.7rem;
  height: fit-content;
  background-color: var(--blue-shade-one);
  border-radius: 2.563rem;
  border: solid 0.031rem var(--blue-shade-border-one);
  width: fit-content;
}

.nutrition-of-the-day-text {
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--secondary-blue);
}

.nutrition-body {
  color: var(--text-shade-two);
}

.level-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.circle-active {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--secondary-blue);
  border-radius: 10rem;
}

.circle-inactive {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--blue-shade);
  border-radius: 10rem;
}

.child-information {
  color: var(--secondary-blue);
}

.trigger-text-button {
  text-align: end;
  color: var(--secondary-blue);
}
