@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --header-text-colour: rgb(25 27 28);
  --body-text-colour: rgb(57 57 57);
  --body-text-shade-one: rgb(138 138 138);
  --yellow-highlight: rgb(253 203 110);
  --yellow-text-colour: rgb(243, 172, 40);
  --yellow-dark-shade: rgb(97, 77, 39);
}

* {
  margin: 0;
  padding: 0;
  font-family: Lora, Inter;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(251, 248, 248);
}

main {
  justify-items: center;
}

/* HEADER SECTION */
header {
  display: grid;
  border-bottom: solid 0.031rem rgb(232, 231, 231);
}

.header-container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin-inline: 5rem;
}

.logo-container p {
  font-family: Inter;
  font-weight: bold;
  color: var(--header-text-colour);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-project,
.header-about,
.contact {
  font-family: Inter;
  color: var(--header-text-colour);
}

/* HEADER SECTION */
.header-section {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 4rem;
  max-width: 75rem;
  width: 100%;
  margin-block-start: 3rem;
  margin-inline: 2rem;
}

/* .location-final-container {
  display: grid;
  justify-content: center;
} */

.location-container {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  gap: 0.5rem;
  color: var(--body-text-shade-one);
}

.location-icon-container {
  /* max-width: 1.5rem;
  width: 100%; */ 
  margin-block-start: 0.2rem;
}

.location-text-container p {
  font-family: Inter;
}

.header-content-text-container {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}

.header-content-section {
  display: grid;
  justify-content: center;
  /* text-align: center; */
}

.header-first-section h1 {
  font-size: clamp(1.5rem, 30vw, 7rem);
  color: var(--header-text-colour);
}

.header-first-section h1 {
  font-size: 7rem;
}

.header-content-body {
  font-size: 3rem;
  color: var(--header-text-colour);
  margin-block-start: 1.5rem;
}

.header-content-body-section {
  max-width: 40rem;
  width: 100%;
}

.header-content-body-main {
  font-family: Inter;
  color: var(--body-text-shade-one);
}

.scroll-more-content-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: solid 0.031rem var(--body-text-shade-one);
  border-radius: 5rem;
  color: var(--body-text-shade-one);
  box-shadow: 0 0 1.5rem rgba(25, 27, 28, 0.228);;
}

.mouse-icon-cotainer {
  margin-block-start: 0.2rem;
}

.scroll-text {
  font-family: Inter;
  font-size: 0.875rem;
}

/* MIDDLE SECTION */
.middle-section {
  display: grid;
  max-width: 75rem;
  width: 100%;
  margin-block-start: 8rem;
}

/* .middle-section-container {
  display: grid;
  width: 100%;
  justify-items: center;
} */

.middle-section-main {
  display: flex;
  /* width: 100%; */
  align-items: center;
  padding: 4rem 6rem;
  justify-content: space-between;
  background-color: var(--yellow-highlight);
  border-radius: 2rem;
  margin-inline: 2rem;
}

.project-container {
  display: grid;
  gap: 0.5rem;
}

.project-header {
  font-weight: bold;
  color: var(--header-text-colour);
  font-size: 4rem;
}

.project-body {
  font-family: Inter;
  color: var(--yellow-dark-shade);
}

/* .PROJECT-SECTION */
.project-section {
  display: grid;
  margin-block-start: 8rem;
  max-width: 75rem;
  width: 100%;
}

.project-section-main {
  display: grid; 
  gap: 2rem;
  margin-inline: 2rem;
}

.project-main-header p {
  font-size: 2rem;
  font-weight: bold;
}

.project-sections-final {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2.5rem;
}

.work-done-final-container {
  display: grid;
  gap: 2rem;
  padding: 3rem 2rem;
  border: solid 0.031rem rgb(223, 222, 222);
  border-radius: 2rem;
}

.work-done-final {
  display: grid;
  gap: 2rem;
  max-width: 30rem;
  width: 100%;
}

.work-done-projects img {
  max-width: 28.125rem;
  width: 100%;
}

.project-header-body-container {
  display: grid;
  gap: 1rem;
}

.project-header-main {
  font-weight: bold;
  font-family: Lora;
  font-size: 2rem;
  color: var(--header-text-colour);
}

.project-body-main {
  font-family: Inter;
  color: var(--body-text-colour);
  line-height: 1.5rem;
}

/* .button-container {
  display: grid;
} */

.read-more-button {
  padding: 0.3rem 0.5rem;
  border: solid 0.031rem var(--body-text-shade-one);
  border-radius: 0.3rem;
  background-color: transparent;
  font-family: Inter;
}

/* SERVICE RENDERED */
.services-renderd-section {
  display: grid;
  margin-block-start: 8rem;
  max-width: 75rem;
  width: 100%;
}

.services-rendered {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: space-between; */
  align-items: start;
  gap: 2rem;
  margin-inline: 2rem;
}

.services-container,
.services-container-black,
.services-container-yellow {
  display: grid;
  gap: 2rem;
  padding: 5rem 2rem;
  border-radius: 2rem;
}

.services-container-black {
  background-color: rgb(30 30 30);
}

.services-container-yellow{
  background-color: var(--yellow-highlight);
}

.service-image-container img {
  max-width: 6rem;
  width: 100%;
}

.service-text-container {
  display: grid;
  gap: 0.6rem;
}

.ux-design-header,
.web-dev-header,
.product-strategy-header {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Lora;
  color: var(--header-text-colour);
}

.ui-design-header {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Lora;
  color: white;
}

.ux-design-body,
.web-dev-body,
.product-strategy-body {
  font-family: Inter;
  color: var(--body-text-colour);
}

.ui-design-body {
  font-family: Inter;
  color: rgb(150, 148, 148);
}

/* ABOUT ME SECTION */
.about-section {
  display: grid;
  margin-block-start: 8rem;
  max-width: 75rem;
  width: 100%;
}

.about-main {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-inline: 2rem;
  gap: 2rem;
}

.left-side-images {
  display: grid;
  gap: 1.5rem;
}

.horizontal-image img {
  max-width: 32rem;
  width: 100%;
  border-radius: 2rem;
}

.vertical-image-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 32rem;
  width: 100%;
}

.vertical-image img {
  width: 100%;
  border-radius: 2rem;
}

.about-text-container {
  max-width: 40rem;
  width: 100%;
}

.about-body-header {
  color: var(--body-text-colour);
  font-family: Inter;
  font-size: 1.5rem;
  margin-block-end: 1.5rem;
}

.about-header {
  font-family: Lora;
  font-weight: bold;
  font-size: 3rem;
  color: var(--yellow-text-colour);
  margin-block-end: 1rem;
}

.about-body-two {
  font-family: Inter;
  color: var(--body-text-shade-one);
  font-weight: 500;
  font-size: 1.5rem;
  margin-block-end: 1rem;
}

