@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* COLOUR VARIABLE */
  --text-colour: #000000;
  --text-colour-shade-one: #8692A6;
  --text-colour-shade-two: #696F79;
  --text-colour-navigation: #8692A6;
  --background-colour-white: #FFFFFF;
  --primary-colour:#1565D8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  text-decoration: none;
  color: var();
}

body {
  height: 100vh;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 5rem;
  height: 100vh;
}

/* LEFT-SECTION */
.left-section {
  display: grid;
  max-width: 39.024rem;
  width: 100%;
}

.left-section-main {
  max-width: 39.024rem;
  width: 100%;
  position: relative;
}

.skyscraper-image-container {
  max-width: 39.024rem;
  width: 100%;
  height: 100%;
  position: absolute;
}

.skyscraper-image-container img {
  max-width: 39.024rem;
  width: 100%;
}

/* TEXT CONTAINER */
.text-container-overlay {
  position: relative;
  padding-block-start: 2.5rem;
}

.text-container-main {
  display: grid;
  align-content: space-between;
  align-items: center;
  height: 100vh;
}

.logo-container {
  padding-inline: 3rem;
}

.bottom-text-container {
  display: grid;
  gap: 2rem;
  padding-inline: 2rem;
}

.dotted-pattern-container {
  text-align: end;
  padding-inline-end: 4rem;
}

.quote-text-container {
  display: grid;
  gap: 1.5rem;
}

.text-main-container {
  line-height: 2rem;
  color: var(--background-colour-white);
}

.quoters-name-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--background-colour-white);
}

.check-mark-container {
  margin-block-start: 0.2rem;
}

.ell-shape-container {
  text-align: end;
  padding-inline-end: 4rem;
}

/* RIGHT SECTION */
.right-section {
  display: grid;
  gap: 10rem;
  padding-block-start: 2.5rem;
  padding-inline-end: 3rem;
}

.sign-up-trigger-container {
  text-align: end;
  color: var(--text-colour-shade-one);
}

.sign-in-trigger {
  color: var(--primary-colour);
}

.sign-in-trigger:hover {
  cursor: pointer;
}

.direction-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-navigation-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.arrow-navigaiton {
  margin-block-start: 0.2rem;
}

.back-text {
  color: var(--text-colour-navigation);
}

.steppers-container {
  text-align: end;
}

.stepper-text {
  color: var(--text-colour-shade-one);
  font-size: 0.875rem;
}

.personal-info-header {
  font-weight: bold;
  color: var(--text-colour-shade-two);
}

.join-us-container {
  display: grid;
  justify-content: center;
  gap: 2rem;
  padding-inline: 5rem;
}

.register-text-container {
  display: grid;
  gap: 1rem;
}

.register-header-text {
  color: var(--text-colour);
  font-weight: bold;
  font-size: 1.875rem;
}

.register-body-text {
  color: var(--text-colour-shade-one);
}

/* INPUT FIELD */
.input-field-container {
  display: grid;
  gap: 2rem;
  justify-content: center;
  padding-inline: 5rem;
}

.form-field-container {
  display: grid;
  gap: 2rem;
  align-items: center;
}

label {
  color: var(--text-colour-shade-two);
}

input{
  padding: 1rem;
  border-radius: 0.375rem;
  border: solid 0.031rem var(--text-colour-navigation);
  width: 100%;
  appearance: none;
}

.input-field-main {
  display: grid;
  gap: 0.5rem;
}

.registraton-button-container {
  display: grid;
  gap: 1.5rem;
  align-items: center;
}

.divider-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  text-align: center;
}

.divider-main {
  color: var(--text-colour-shade-one);
}

hr {
  max-width: 10rem;
  width: 100%;
  border: solid 0.031rem rgba(245, 245, 245, 1);
}

.register-button {
  padding: 1rem;
  border-radius: 0.375rem;
  color: var(--background-colour-white);
  background-color: var(--primary-colour);
  border: none;
  width: 100%;
}

.register-button:hover {
  cursor: pointer;
  background-color: rgb(45, 121, 228);
  transition: 0.5s;
}

.google-logo {
  margin-block-start: 0.2rem;
}

.google-logo-text {
  color: var(--text-colour);
}

.google-button-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 0.375rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
}

.google-button-container:hover {
  cursor: pointer;
  border: solid 0.031rem rgba(21, 101, 216, 1);
  background-color: rgba(245, 249, 255, 1);
  transition: 0.5s;
}

.forgot-password-container {
   text-align: end;
   margin-block-start: 1.5rem;
   color: var(--primary-colour);
}

.forgot-password:hover {
  cursor: pointer;
  color: rgb(55, 129, 232);
  text-decoration: underline;
  transition: 0.5s;
}


/* MEDIA QUERIES */
@media (max-width:1075px) {
  .left-section {
    display: none;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .right-section {
    padding-block-start: 2rem;
    padding-inline: 2rem;
    gap: 5rem;
  }
}

@media (max-width:800px) {
  .input-field-container {
    padding-inline: 0;
  }

  .sign-up-trigger-container {
    text-align: center;
  }
}

